<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
    <script type="text/javascript" src="/admin/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <script type="text/javascript" src="/admin/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
 <style>
 .layui-table-cell
{
  height:60px;
  line-height:50px;
}
.layui-table-cell .layui-form-checkbox[lay-skin="primary"]{
     top: 50%;
     transform: translateY(-50%);
}
</style>
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">商品管理</a>
        <a><cite>商品列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
<div class="x-body">
      <div class="layui-row"  shiro:hasAnyRoles="admin,productManager">
<!-- /adminCommodity/productlistPage.do -->
        <form class="layui-form layui-col-md12 x-so" >
          <div class="layui-input-inline" >
          	<input type="text" name="c_name" id="c_name" placeholder="请输入产品名称" autocomplete="off" class="layui-input">
          </div>        				
		  <div class="layui-input-inline">
				        <select name="c_categoryId">
				          <option th:value="0" th:text="类型选择" ></option>
				          <option th:each="cat : ${catList}" th:value="${cat.id}" th:text="${cat.name}">
				        </select>
			</div>
			<div class="layui-input-inline">
			 <button class="layui-btn" id="submitData" data-type="reload" onclick="return false;" lay-submit="" lay-filter="searchSubmit">提交</button>
			</div>
        </form>
      </div>
<div  shiro:hasAnyRoles="admin,productManager">
      <xblock>
        <button class="layui-btn layui-btn-danger" id="delProduct" ><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加商品','/productadd.do',800,600)"><i class="layui-icon"></i>添加</button>      
      </xblock>
</div>
<!-- 数据显示 -->
    <div class="layui-card-body">
    <table class="layui-hide" id="test" lay-filter="articleTable"></table>
	</div>

<!-- 数据提取 -->
<script>
layui.use(['form','laydate','table','jquery','element','layer'], function(){
	var form = layui.form 
	,layer = layui.layer
    ,table = layui.table;
	$= layui.jquery,
	element=layui.element,
	laydate=layui.laydate,
	//加载表格数据
    tableIns=table.render({
        elem: '#test'
        ,height:500
        ,url:'/adminCommodity/showData.do'
        ,limit:10//默认为10
        ,cols: [
	        	[
	        	 {type:'checkbox', fixed: 'left'}
	            ,{type:'numbers', width:90,title:'序号'}//sort：true页面可进行排序操作
	            ,{field:'c_uri',width:'10%', title: '图片',templet:'#c_uri'}
	            ,{field:'c_name', width:170, title: '商品名称'}
	            ,{field:'brand', width:'8%', title: '品牌名称',templet: '<div>{{d.brand.b_name}}</div>'}
	            ,{field:'cat',width:'8%', title: '类型名称',templet: '<div>{{d.cat.name}}</div>'}
	            ,{field:'c_title', width:130, title: '标题'}
	            ,{field:'c_price', width:'8%', title: '价格', sort: true}
	            ,{field:'c_discountprice', width:'8%', title: '优惠价'}
	            ,{field:'c_Stock', width:100, title: '库存'}
	            ,{field:'c_state', width:100, title: '状态',templet:'#state'}
	            ,{field:'c_data', width:110, title: '录入时间',templet:'<div>{{ Format(d.c_data,"yyyy-MM-dd")}}</div>',sort: true}
	            ,{title:'图片管理',width:'8%', align:'center', toolbar: '#imgDemo'}
	            ,{title:'属性管理', width:'8%', align:'center', toolbar: '#proDemo'}
	            ,{title:'版本管理', width:'8%', align:'center', toolbar: '#colourDemo'}
	            ,{fixed: 'right', width:'25%', align:'center', toolbar: '#optBar'}
	            ]
        	      ]
        ,page: true
        ,done:function(res, curr, count){
            //数据的回调用，可不写
        }
    });
    //监听搜索框
    form.on('submit(searchSubmit)', function(data){
        //重新加载table
        load(data);
        return false;
    });
    //删除商品
	  $("#delProduct").click(function(){
		  //layer.alert(JSON.stringify(table.checkStatus('test').data));
		  var array=table.checkStatus("test").data;
  	     	if(array.length!=0){
  	    		
  	    		var c_id=[];//定义空数组
  	    		for(var i in array){
  	    			c_id.push(array[i].c_id);
  	    		}
  	    	    var strify = JSON.stringify(c_id);
		        console.log(strify);
  	    		console.log(c_id);
  	    		layer.confirm('真的删除所选择行的商品么?删除后数据不能恢复！',{icon:3,title:'提示'}, function(index){
  	    			$.post('/adminCommodity/delProductsById.do?c_id='+c_id,function(d){
  		    			if(d.res>0){
  		    				table.reload("test");
  			  				layer.msg("操作成功！");
  		    			}else{
  		    				layer.msg("操作失败！");
  		    			}
  		    		},'json');
  	    		})
  	    		
  	    	}else{
  	    		layer.msg("请选择要删除的用户！");
  	    	}
  	    });   
     //监听工具条
     table.on('tool(articleTable)', function(obj){ //注：tool 是工具条事件名，articleTable是 table 原始容器的属性 lay-  filter="对应的值"
	      var data = obj.data //获得当前行数据
	      var layEvent = obj.event; //获得 lay-event 对应的值
	      var cid = data.c_id;
	      if(layEvent === 'del'){
	        layer.confirm('真的删除该商品吗?删除后数据不能恢复！',{icon:3,title:'提示'}, function(index){
	        	$.post("/adminCommodity/delProductById.do",{"c_id":data.c_id},function(d){
			  		if(d.res>0){
			  			table.reload("test");
			  			layer.msg("操作成功！");
			  		}else{
			  			layer.msg("操作失败！");
			  		}
			  	},"json");	
	        });
	      }else if(layEvent === 'block'){
	    	  layer.confirm('是否真的停用？停用后该商品将无法使用！',{icon:3,title:'提示'}, function(index){
	    		  $.post("/adminCommodity/isStateStart.do",{"c_id":data.c_id,"c_state":data.c_state},function(d){
				  		if(d.res>0){
				  			table.reload("test");
				  			layer.msg("该商品已停用！");
				  		}else{
				  			layer.msg("操作失败！");
				  		}
				  	},"json");
	    	  })
	    	  
	      }else if(layEvent === 'start'){
	    	  $.post("/adminCommodity/isStateStart.do",{"c_id":data.c_id,"c_state":data.c_state},function(d){
			  		if(d.res>0){
			  			table.reload("test");
			  			layer.msg("该商品已启用！");
			  		}else{
			  			layer.msg("操作失败！");
			  		}
			  	},"json");
	      }else if(layEvent === 'detail'){
		    	  var index = layer.open({
		    		  title : "商品信息",
		    		  type : 2,
		    		  offset: 'auto',
		    		  area: ['800px', '600px'],
		    		  btn: ['确定'],
		    		  btnAlign: 'c',
		    		  yes: function(index, layero){
		    			  layer.close(index);
				    	  },
		    		  content : "/productdetail.do",
		    		  success:function(layero, index){
		    			  console.log(data);
		    			  layero.find('iframe').contents().find('input[name=c_name]').val(data.c_name);
		    			  layero.find('iframe').contents().find('input[name=c_title]').val(data.c_title);
		    			  layero.find('iframe').contents().find('input[name=c_brandId]').val(data.brand.b_name);
		    			  layero.find('iframe').contents().find('input[name=c_categoryId]').val(data.cat.name);
		    			  layero.find('iframe').contents().find('input[name=c_color]').val(data.c_color);
		    			  layero.find('iframe').contents().find('input[name=c_edition]').val(data.c_edition);
		    			  layero.find('iframe').contents().find('input[name=c_price]').val(data.c_price);
		    			  layero.find('iframe').contents().find('input[name=c_discountprice]').val(data.c_discountprice)
		    			  layero.find('iframe').contents().find('input[name=c_Stock]').val(data.c_Stock)
		    			  if(data.c_uri!=null && data.c_uri!=''){
		    				  layero.find('iframe').contents().find('#demo1').attr('src',data.c_uri);
		    				  layero.find('iframe').contents().find('#demo1').css('display','block');
		    			  }	
						}
		    		  })
		    		  //layer.full(index);
		      }else if(layEvent==='images'){		    	 
		    		  var index = layer.open({
			    		  title : "图片管理",
			    		  type : 2,
			    		  offset: 'auto',
			    		  area: ['100%', '100%'],
			    		  content :"/imagesMG.do?c_id="+cid,
			    		  success:function(layero, index){
			    			  console.log(data);
			    			  layero.find('iframe').contents().find('input[name=c_id]').val(data.c_id);
							}
			    		  })
			    		  //layer.full(index);
		      }else if(layEvent==='colour'){		    	 
	    		  var index = layer.open({
		    		  title : "版本管理",
		    		  type : 2,
		    		  offset: 'auto',
		    		  area: ['100%', '100%'],
		    		  content :"/colourMG.do?c_id="+cid,
		    		  success:function(layero, index){
		    			  console.log(data);
		    			  layero.find('iframe').contents().find('input[name=c_id]').val(data.c_id);
						}
		    		  })
		    		  //layer.full(index);
	        }else if(layEvent==='property'){		    	 
	    		  var index = layer.open({
		    		  title : "编辑属性",
		    		  type : 2,
		    		  offset: 'auto',
		    		  area: ['800px', '600px'],
		    		  content :"/propertyValue_edit.do?c_id="+cid,
		    		  success:function(layero, index){
		    			  console.log(data);
		    			  //layero.find('iframe').contents().find('input[name=c_id]').val(data.c_id);
						}
		    		  })
		    		  //layer.full(index);
	          }else if(layEvent === 'edit'){
	    	    var index = layer.open({
	    		  title : "编辑商品",
	    		  type : 2,
	    		  offset: 'auto',
	    		  area: ['800px', '600px'],
	    		  content : "/productupdate.do",
	    		  success:function(layero, index){
	    			  console.log(data);
	    			  layero.find('iframe').contents().find('input[name=c_id]').val(data.c_id);
	    			  layero.find('iframe').contents().find('input[name=c_name]').val(data.c_name);
	    			  layero.find('iframe').contents().find('input[name=c_title]').val(data.c_title);
	    			  layero.find('iframe').contents().find('input[name=c_price]').val(data.c_price);
	    			  layero.find('iframe').contents().find('input[name=c_discountprice]').val(data.c_discountprice)
	    			  layero.find('iframe').contents().find('input[name=c_Stock]').val(data.c_Stock)
	    			  if(data.c_uri!=null && data.c_uri!=''){
	    				  layero.find('iframe').contents().find('#demo1').attr('src',data.c_uri);
	    				  layero.find('iframe').contents().find('#demo1').css('display','block');
	    				  layero.find('iframe').contents().find('input[name=c_uri]').val(data.c_uri);
	    			  }	
	    			  form.render();
					}
	    		  })
	    		  //layer.full(index);
	      }
	    });
});
//重新加载table
function load(obj){
    tableIns.reload({
        where: obj.field
        , page: {
            curr: 1 //从当前页码开始
        }
    });
}

//时间格式转换
function Format(datetime,fmt) {
		  if (parseInt(datetime)==datetime) {
		    if (datetime.length==10) {
		      datetime=parseInt(datetime)*1000;
		    } else if(datetime.length==13) {
		      datetime=parseInt(datetime);
		    }
		  }
		  datetime=new Date(datetime);
		  var o = {
		  "M+" : datetime.getMonth()+1,                 //月份   
		  "d+" : datetime.getDate(),                    //日   
		  "h+" : datetime.getHours(),                   //小时   
		  "m+" : datetime.getMinutes(),                 //分   
		  "s+" : datetime.getSeconds(),                 //秒   
		  "q+" : Math.floor((datetime.getMonth()+3)/3), //季度   
		  "S"  : datetime.getMilliseconds()             //毫秒   
		  };   
		  if(/(y+)/.test(fmt))   
		  fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));   
		  for(var k in o)   
		  if(new RegExp("("+ k +")").test(fmt))   
		  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
		  return fmt;
		}
		console.log(Format("1507353913000","yyyy-M-d h:m:s.S"));
</script>
  </body>
<!-- 图片样式 -->
 <script type="text/html" id="imgDemo">
  <a lay-event="images"><i class="layui-icon layui-icon-picture" style="font-size:24px; color: #1E9FFF;"></i></a>
</script>
<!-- 商品样式 -->
<script type="text/html" id="proDemo">
  <a lay-event="property"><i class="layui-icon layui-icon-set-sm" style="font-size:24px; color: #1E9FFF;"></i></a>
</script>
<!-- 版本样式 -->
<script type="text/html" id="colourDemo">
  <a lay-event="colour"><i class="layui-icon layui-icon-theme" style="font-size:24px; color: #1E9FFF;"></i></a>
</script>
<!-- 操作样式 -->
<script type="text/html" id="optBar"> 
	{{#  if(d.c_state ==1 ){ }}
		<a href="javascript:;"  shiro:hasAnyRoles="admin,productManager"  class="layui-btn layui-btn-danger layui-btn-xs" lay-event="block" title="停用">停用</a>
	{{#  }else { }}
		<a href="javascript:;"  shiro:hasAnyRoles="admin,productManager" class="layui-btn  layui-btn-xs" lay-event="start" title="启用">启用</a>
	{{#  } }}
    <a class="layui-btn layui-btn-xs" lay-event="detail" shiro:hasAnyRoles="admin,productManager">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasAnyRoles="admin,productManager">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasAnyRoles="admin,productManager">删除</a>
</script>
<!-- 是否启用 -->
<script type="text/html" id="state" th:inline="none">
	{{#  if(d.c_state ==1 ){ }}
		<span class="layui-btn layui-btn-normal layui-btn-mini"  style="margin-top:10px">已启用</span>
	{{#  } else { }}
		<span class="layui-btn layui-btn-danger layui-btn-mini layui-btn-disabled"  style="margin-top:10px">已停用</span>
	{{#  } }}
</script>
<!-- 显示图片 -->
<script type="text/html" id="c_uri">
{{#  if(d.c_uri!=null&&d.c_uri != ""){ }}
    	 <img src="{{d.c_uri}}"/>
{{#  } else{ }}
	暂无图片...
{{#  } }}
</script>
</html>